/**
 * Variables
 */

$white: #fff;
$black: #000;
$blue-light: #78dcfa;
$blue-medium: #14acdd;

$gray-blue-dark: #2e4453;
$gray-dark: #2e4453;
$gray: #87a6bc;
$gray-light: #eaf0f3;
$gray-lightest: #f3f6f8;

$yellow: #f0b849;
$red: #d94f4f;
$green: #4ab866;

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$error: #ff3860;
$ok: #46b450;
$monospace: courier, Monaco, monospace;
