@import 'globals';
@import 'spinner';
@import 'modal';

#react-ui {
	clear: both;

	.notice-error {
		margin-top: 3em;

		.closer {
			float: right;
			padding-top: 5px;
			font-size: 18px;
			cursor: pointer;
			color: #333;
		}

		textarea {
			font-family: courier;
			font-size: 12px;
			background-color: #eee;
			width: 100%;
		}
	}
}

.faq {
	h3 {
		font-size: 14px;
		font-style: italic;
	}
}

.donation {
	.donation-amount {
		float: left;
		margin-top: 10px;

		span {
			font-size: 28px;
			margin-top: 4px;
			vertical-align: bottom;
		}
	}

	input[type=number] {
		width: 60px;
		margin-left: 10px;
	}
}

.donation-slider {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 500px;
	margin-left: 5px;
}

.newsletter {
	span {
		font-size: 12px;
		font-style: italic;
	}
}

@keyframes loading-fade {
	0% { opacity: .5; }
	50% { opacity: 1; }
	100% { opacity: .5; }
}

.wp-list-table {
	.is-placeholder {
		td {
			position: relative;
			height: 50px;
		}
	}

	.item-loading {
		opacity: 0.3;
	}

	strike {
		opacity: 0.6;
	}

	.column-last_count {
		width: 70px;
		text-align: left;
	}

	.column-last_access {
		width: 120px;
		text-align: left;
	}
}

.placeholder-container {
	width: 100%;
	height: 100px;
	position: relative;
}

.placeholder-loading {
	content: '';
	position: absolute;
	top: 16px;
	right: 8px;
	bottom: 16px;
	left: 8px;
	padding-left: 8px;
	padding-top: 8px;
	background-color: lighten( $gray, 20% );
	animation: loading-fade 1.6s ease-in-out infinite;
}

.loading-small {
	width: 25px;
	height: 25px;
}

.widefat thead tr td.column-check, .widefat tfoot tr td.column-check {
    width: 2.2em;
	padding-top: 9px;
	padding-left: 3px;
	vertical-align: middle;
}

input.current-page {
	width: 55px;
}

.fixed .column-date {
	width: 165px !important;
}

.loader-wrapper {
	position: relative;
}

.loader-textarea {
	height: 100px;
}

.edit {
	th {
		vertical-align: top;
		padding-top: 5px !important;
	}

	input[type=text] {
		width: 80%;
	}
}

.redirects {
	.target {
		color: #999;
	}

	.disabled {
		opacity: 0.5;
	}
}

a.advanced {
	font-size: 16px;
}

.add-new {
	width: 100%;

	table {
		width: 80%;

		th {
			text-align: left;
		}

		td {
			text-align: left;
		}
	}
}

table.edit-redirection {
	th {
		width: 130px;
	}

	table {
		border-spacing: 0;
		width: 100%;

		th {
			padding: 0;
		}

		td {
			padding: 3px 6px;
		}

		input[type=text] {
			width: 80%;
		}
	}

	tr.redirect-group {
		td, th {
			padding-top: 15px !important;
		}
	}

	.no-margin td {
		padding: 0px;
		padding-left: 4px;
	}
}

.redirection-notice {
	position: fixed;
	bottom: 25px;
	right: 0px;
	font-weight: bold;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	border-top: 1px solid #eee;
	cursor: pointer;
	transition: width 1s ease-in-out;

	p {
		padding-right: 20px;
	}

	.closer {
		position: absolute;
		right: 5px;
		top: 10px;
		font-size: 16px;
		opacity: 0.8;
	}
}

.redirection-notice.notice-shrunk {
	width: 20px;

	p {
		font-size: 16px;
	}

	.closer {
		display: none;
	}
}

.notice-progress {
	border-left: 5px solid green;
	padding: 10px;
	cursor: auto;
	bottom: 80px;

	p {
		margin-left: 50px;
		animation: loading-fade 1.2s ease-in-out infinite;
	}

	.spinner-container {
		position: absolute;
		left: 0px;
		top: 33px;
	}
}
