@import 'globals';
@import 'spinner';
@import 'modal';

.notice-error {
	margin-top: 3em;

	.closer {
		float: right;
		padding-top: 5px;
		font-size: 18px;
		cursor: pointer;
		color: #333;
	}

	textarea {
		font-family: courier;
		font-size: 12px;
		background-color: #eee;
		width: 100%;
	}

	span code {
		background-color: transparent;
	}
}

.faq {
	h3 {
		font-size: 14px;
		font-style: italic;
	}
}

.donation {
	.donation-amount {
		float: left;
		margin-top: 10px;

		span {
			font-size: 28px;
			margin-top: 4px;
			vertical-align: bottom;
		}

		img {
			width: 24px !important;
			margin-bottom: -5px !important
		}
	}

	.donation-amount:after {
		content: '';
		display: block;
		clear: both;
	}

	input[type=number] {
		width: 60px;
		margin-left: 10px;
	}

	td, th {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	input[type=submit] {
		margin-left: 10px;
	}
}

.donation-slider {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 500px;
	margin-left: 5px;
}

.newsletter {
	span {
		font-size: 12px;
		font-style: italic;
	}
}

@keyframes loading-fade {
	0% { opacity: .5; }
	50% { opacity: 1; }
	100% { opacity: .5; }
}

.wp-list-table {
	.is-placeholder {
		td {
			position: relative;
			height: 50px;
		}
	}

	.item-loading {
		opacity: 0.3;
	}

	strike {
		opacity: 0.6;
	}

	.column-last_count {
		width: 80px;
		text-align: left;
	}

	.column-date {
		width: 180px;
	}

	.column-last_access {
		width: 120px;
		text-align: left;
	}

	.column-module, .column-total, .column-ip {
		width: 100px;
	}

	.column-redirects {
		width: 100px;
		text-align: left;
	}

	.column-position {
		width: 80px;
		text-align: left;
	}

	.column-type {
		width: 50px;
		text-align: left;
	}

	.disabled {
		opacity: 0.5;
	}
}

table.items {
	table.edit {
		width: 100%;
	}

	table.edit td, table.edit th {
		line-height: 1.2;
		padding: 2px;
		font-size: 12px;
	}

	table.edit th {
		font-size: 13px;
		font-weight: bold;
	}
}

.placeholder-container {
	width: 100%;
	height: 100px;
	position: relative;
}

.placeholder-loading {
	content: '';
	position: absolute;
	top: 16px;
	right: 8px;
	bottom: 16px;
	left: 8px;
	padding-left: 8px;
	padding-top: 8px;
	background-color: lighten( $gray, 20% );
	animation: loading-fade 1.6s ease-in-out infinite;
}

.placeholder-inline {
	width: 100%;
	height: 50px;
	position: relative;

	.placeholder-loading {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}

.loading-small {
	width: 25px;
	height: 25px;
}

.widefat thead tr td.column-check, .widefat tfoot tr td.column-check {
    width: 2.2em;
	padding-top: 9px;
	padding-left: 3px;
	vertical-align: middle;
}

input.current-page {
	width: 60px;
}

.loader-wrapper {
	position: relative;
}

.loader-textarea {
	height: 100px;
}

.edit {
	th {
		vertical-align: top;
		padding-top: 5px !important;
	}

	input[type=text] {
		width: 80%;
	}

	input[name=position] {
		width: 60px;
		margin-left: 10px;
		padding-top: 4px;
	}
}

.redirects {
	.target {
		color: #999;
	}
}

a.advanced {
	font-size: 16px;
}

.add-new {
	width: 100%;

	table {
		width: 80%;

		th {
			text-align: left;
		}

		td {
			text-align: left;
		}
	}
}

table.edit-redirection {
	th {
		width: 130px;
	}

	table {
		border-spacing: 0;
		width: 100%;

		th {
			padding: 0;
		}

		td {
			padding: 3px 6px;
		}

		input[type=text] {
			width: 80%;
		}
	}

	tr.redirect-group {
		td, th {
			padding-top: 15px !important;
		}
	}

	.no-margin td {
		padding: 0px;
		padding-left: 4px;
	}
}

.redirection-notice {
	position: fixed;
	bottom: 25px;
	right: 0px;
	font-weight: bold;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	border-top: 1px solid #eee;
	cursor: pointer;
	transition: width 1s ease-in-out;

	p {
		padding-right: 20px;
	}

	.closer {
		position: absolute;
		right: 5px;
		top: 10px;
		font-size: 16px;
		opacity: 0.8;
	}
}

.redirection-notice.notice-shrunk {
	width: 20px;

	p {
		font-size: 16px;
	}

	.closer {
		display: none;
	}
}

.notice-progress {
	border-left: 5px solid green;
	padding: 10px;
	cursor: auto;
	bottom: 80px;

	p {
		margin-left: 50px;
		animation: loading-fade 1.2s ease-in-out infinite;
	}

	.spinner-container {
		position: absolute;
		left: 0px;
		top: 33px;
	}
}

.subsubsub-container::before, .subsubsub-container::after {
    content:"";
    display:table;
}

.subsubsub-container::after {
    clear:both;
}


.module-export {
	border: 1px solid #ddd;
	padding: 5px;
	font-family: courier;
	margin-top: 15px;
	width: 100%;
	background-color: white !important;
}

.dropzone {
	border: 3px dashed #bbb;
	text-align: center;
	padding: 10px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-radius: 4px;
	color: #666;

	h3 {
		color: #666;
	}

	p {
		font-size: 14px;
	}

	.groups {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.is-placeholder {
		width: 50%;
		height: 90px;
		position: relative;
		margin: 0 auto;
	}
}

.dropzone-hover, .dropzone-hover {
	border-color: rgb(134, 191, 212);
}

.dropzone-importing {
	border-color: transparent;
}

.table-buttons {
	float: left;
	padding-top: 2px;

	> button, > form, > div.table-button-item {
		margin-right: 5px !important;
		display: inline;
	}

	.modal-wrapper {
		display: inline;
	}
}

.github {
	margin-top: 8px;

	a {
		text-decoration: none;
	}

	img {
		padding-right: 10px;
		margin-bottom: -10px;
	}
}

.wp-core-ui .button-delete {
	box-shadow: none;
	text-shadow: none;

	background-color: #ff3860;
	border-color: transparent;
	color: #fff;
}

.wp-core-ui .button-delete:hover {
	background-color: #ff3860;
	border-color: transparent;
	box-shadow: none;
	text-shadow: none;
}

.inline-notice {
	background: #fff;
	border-left: 4px solid #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin: 5px 15px 2px;
	padding: 1px 12px;
    margin: 5px 0 15px;
    border-left-color: #ffb900;

	&.inline-general {
		border-left-color: #46b450;
	}
}

.plugin-status {
	th {
		text-align: left;
		padding: 5px;
	}

	td, span {
		padding: 5px;
	}

	.plugin-status-good {
		background-color: #46b450;
		color: white;
	}

	.plugin-status-problem {
		background-color: orange;
		color: white;
	}

	.plugin-status-error {
		background-color: #ff3860;
		color: white;
	}
}
