.modal-backdrop {
	background-color: #999;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 70px;
	z-index: 10000;
	text-align: center;

	.modal-close button {
		position: absolute;
		top: 10px;
		right: 3px;
		border: none;
		background-color: white;
		cursor: pointer;
		z-index: 10001;
	}

	.modal-content, .modal-table {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10000;
		margin: auto;
		border-radius: 5px;
		background: white;
		opacity: 1;

		box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	}

	.modal-content {
		width: 500px;
		height: 200px;

		h1 {
			margin: 0 !important;
			color: #333 !important;
		}
	}

	.modal-content .spinner-container {
		border: 1px solid red;
		position: absolute;
		left: 49%;
		top: 120px;
	}
}

.modal-wrapper.modal-wrapper-padless {
	.modal-content {
		padding: 20px;
	}
}
