.edit {
	th {
		vertical-align: top;
		padding-top: 5px !important;
	}

	input[type=text] {
		width: 80%;
	}

	input[name=position] {
		width: 60px;
		margin-left: 10px;
		padding-top: 4px;
	}

	input[type=text].medium {
		width: 67%;
	}

	select.medium {
		height: 26px;
		margin-top: -2px;
	}
}

table.edit-redirection {
	th {
		width: 130px;
	}

	table {
		border-spacing: 0;
		width: 100%;

		th {
			padding: 0;
		}

		td {
			padding: 3px 6px;
		}

		input[type=text] {
			width: 80%;
		}
	}

	tr.redirect-group {
		td, th {
			padding-top: 15px !important;
		}
	}

	.no-margin td {
		padding: 0px;
		padding-left: 4px;
	}
}

.widefat thead tr td.column-check, .widefat tfoot tr td.column-check {
    width: 2.2em;
	padding-top: 9px;
	padding-left: 3px;
	vertical-align: middle;
}

.wp-list-table {
	.is-placeholder {
		td {
			position: relative;
			height: 50px;
		}
	}

	.item-loading {
		opacity: 0.3;
	}

	strike {
		opacity: 0.6;
	}

	.column-last_count {
		width: 80px;
		text-align: left;
	}

	.column-date {
		width: 150px;
	}

	.column-last_access {
		width: 150px;
		text-align: left;
	}

	.column-module, .column-total, .column-ip {
		width: 110px;
	}

	.column-redirects {
		width: 100px;
		text-align: left;
	}

	.column-position {
		width: 80px;
		text-align: left;
	}

	.column-code {
		width: 50px;
		text-align: left;
	}

	.disabled {
		opacity: 0.5;
	}

	.column-referrer {
		color: #999;
	}
}

table.items {
	table.edit {
		width: 100%;
	}

	table.edit td, table.edit th {
		line-height: 1.2;
		padding: 2px;
		font-size: 12px;
	}

	table.edit th {
		font-size: 13px;
		font-weight: bold;
	}
}

.table-buttons {
	float: left;
	padding-top: 2px;

	> button, > form, > div.table-button-item {
		margin-right: 5px !important;
		display: inline;
	}

	.modal-wrapper {
		display: inline;
	}
}

.add-new {
	width: 100%;

	table {
		width: 80%;

		th {
			text-align: left;
		}

		td {
			text-align: left;
		}
	}
}

@media screen and (max-width: 782px) {
	.wp-list-table table {
		td, input, select, th {
			font-size: 1em !important;
		}
	}

	table.form-table, table.form-table select, table.form-table input {
		font-size: 1em !important;
	}

	td.column-code, th.column-code, td.column-url .target {
		display: none !important;
	}

	td.column-url {
		overflow: hidden;
	}

	.column-date {
		display: none !important;
	}

	.edit-redirection td.no-margin {
		display: table-cell !important;
	}

	td.column-primary {
		padding-right: 20px !important;
	}

	.redirection {
		margin-bottom: 50px;
	}

	.add-new {
		margin-bottom: 50px;

		table {
			width: 100%;
		}

		tbody {
			tr > th {
				margin-left: 2px;
			}

			tr > td {
				display: block;
			}
		}
	}

	table.edit {
		tbody {
			tr > th {
				display: block;
			}

			td label {
				display: block;
			}
		}

		input[type=text], select {
			width: 100%;
		}

		input[name=position] {
			width: 40px;
			height: 2.2em;
			margin-top: 10px;
		}
	}
}
