@import "../../global.scss";

.redirect-headers {
	margin-bottom: 20px;
	table-layout: auto !important;
}

.redirect-headers__name {
	display: flex;
	align-items: center;

	select {
		margin-right: 5px;
	}

	input[type="text"] {
		margin: 0 5px;
	}

	select + input[type="text"] {
		margin-left: 0;
	}
}

.redirect-headers__name__content {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;

	select {
		max-width: 250px;
	}

	input[type="text"] {
		width: auto;
	}
}

.redirect-headers__type {
	width: 100px;
}

.redirect-alias__item input[type="text"] {
	width: 100%;
}

td.redirect-alias__item__asdomain {
	vertical-align: middle;
}

.redirect-alias__delete {
	width: 20px;
}

.redirect-alias__delete,
.redirect-headers__delete {
	width: 35px;

	button {
		border: none;
		background: none;

		&:hover {
			color: $error;
			cursor: pointer;
		}
	}
}
