{
	"presets": [
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [],
	"env": {
		"test": {
			"presets": [ "@babel/preset-env" ]
		}
	}
}
