{
	"ecmaFeatures": {
		"jsx": true,
		"arrowFunctions": true,
		"blockBindings": true,
		"forOf": true,
		"classes": true
	},
	"env": {
		"amd": true,
		"node": true,
		"browser": true
	},
	"rules": {
		"quotes": [1, "single", "avoid-escape"],
		"curly": [1, "multi"],
		"camelcase": [0],
		"no-else-return": 1,
		"no-warning-comments": [1, { "terms": ["todo", "fixme", "XXX"], "location": "start" }],
		"no-trailing-spaces": 1,
		"no-mixed-spaces-and-tabs": [1, "smart-tabs"],
		"no-space-before-semi": 2,
		"no-shadow": 1,
		"no-shadow-restricted-names": 1,
		"no-unused-vars": 1,
		"no-delete-var": 1,
		"no-spaced-func": 2,
		"no-lonely-if": 1,
		"no-array-constructor": 2,
		"no-underscore-dangle": 0,
		"no-nested-ternary": 2,
		"no-multi-spaces": [2, { "exceptions": { "VariableDeclarator": true } }],
		"radix": 2,
		"eol-last": 2,
		"strict": [2, "global"],
		"brace-style": [2, "stroustrup", { "allowSingleLine": true }],
		"comma-style": [ 2, "last" ],
		"consistent-this": [1, "this"],
		"space-after-function-name": [ 1, "never" ],
		"space-after-keywords": [1, "always"],
		"space-before-blocks": [1, "always"],
		"space-before-function-parentheses": [1, "never"],
		"space-return-throw-case": 1,
		"space-in-parens": [1, "always"],
		"space-in-brackets": [1, "always", { "singleValue": true, "propertyName": false }],
		"new-cap": [1, { "capIsNew": false }],
		"no-var": 1
	}
}
