{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"plugin:@tanstack/eslint-plugin-query/recommended"
	],
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"env": {
		"browser": true,
		"jest": true
	}
}
