[submodule "client/wp-plugin-lib"]
	path = client/wp-plugin-lib
	url = https://github.com/johngodley/wp-plugin-lib.git
[submodule "client/wp-plugin-components"]
	path = client/wp-plugin-components
	url = https://github.com/johngodley/wp-plugin-components.git
