[submodule "src/wp-plugin-lib"]
	path = src/wp-plugin-lib
	url = https://github.com/johngodley/wp-plugin-lib.git
[submodule "src/wp-plugin-components"]
	path = src/wp-plugin-components
	url = https://github.com/johngodley/wp-plugin-components.git
