parameters:
    level: 8
    paths:
        - actions
        - api
        - database
        - fileio
        - matches
        - models
        - modules
        - redirection-settings.php
        - redirection-admin.php
        - redirection-cli.php
        - redirection-capabilities.php
        - redirection-front.php
    phpVersion: 80127
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkAlwaysTrueInstanceof: false
    checkAlwaysTrueStrictComparison: false
    polluteScopeWithLoopInitialAssignments: false
    parallel:
        maximumNumberOfProcesses: 4