parameters:
    level: 8
    paths:
        - redirection.php
        - redirection-admin.php
        - redirection-capabilities.php
        - redirection-cli.php
        - redirection-front.php
        - redirection-settings.php
        - redirection-version.php
    scanDirectories:
        - matches
        - modules
        - modules
        - fileio
        - database
        - models
    excludePaths:
        - vendor

    phpVersion: 70100

    parallel:
        maximumNumberOfProcesses: 4

    disallowedFunctionCalls:
        -
            function: 'var_dump()'
            message: 'forgot about it? if needed just add a phpstan ignore line'
        -
            function: 'print_r()'
            message: 'forgot about it? if needed just add a phpstan ignore line'
        -
            function: 'error_log()'
            message: 'forgot about it? if needed just add a phpstan ignore line'
        -
            function: 'debug_print_var()'
            message: 'forgot about it? if needed just add a phpstan ignore line'