#redirection-widget ul span {
	display: inline-block;
	vertical-align: top;
}

#redirection-widget ul span.last-count {
	text-align: right;
	width: 10%;
	margin-right: 5px;
}

#redirection-widget ul span.url {
	max-width: 85%;
}

#redirection-widget .header {
	color: #72777c;
}
