@import "../../global";

.notice-progress {
	border-left: 5px solid $ok;
	padding: 10px;
	cursor: auto;
	bottom: 80px;

	p {
		margin-left: 50px;
		animation: loading-fade 1.2s ease-in-out infinite;
	}

	.spinner-container {
		position: absolute;
		left: 5px;
		top: 39px;

		.css-spinner {
			width: 26px;
			height: 26px;
		}
	}
}
