/**
 * The plugin status section of the support page
 */
.plugin-status {
	th {
		text-align: left;
		padding: 5px;
		vertical-align: top;
	}

	td, span {
		vertical-align: top;
		padding: 5px;
	}

	.plugin-status-good {
		background-color: $ok;
		color: white;
	}

	.plugin-status-problem {
		background-color: orange;
		color: white;
	}

	.plugin-status-error {
		background-color: $error;
		color: white;
	}
}

/**
 * The Github link on the support page
 */

.github {
	margin-top: 8px;

	a {
		text-decoration: none;
	}

	img {
		padding-right: 10px;
		margin-bottom: -10px;
	}
}
