.wpl-dropdownbutton .wpl-popover__content {
	h4 {
		margin-top: 5px;
	}

	h5 {
		margin-top: 0;
		margin-bottom: 5px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.wpl-dropdownbutton {
	ul,
	li {
		white-space: nowrap;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		display: block;
		padding: 5px 10px 5px 7px;
		line-height: 1.8;
		width: auto;
		color: #444;
	}

	a:hover {
		background-color: #2684ff;
		color: white;
	}

	svg {
		margin-left: 5px;
		margin-right: -4px;
		display: inline-block;
		fill: #888;
		border-left: 1px solid #ddd;
		padding-left: 5px;
	}

	h5 {
		padding: 0;
		margin: 0;
		margin-right: 10px;
		font-size: 13px;
		font-weight: normal;
	}
}

.wpl-dropdownbutton .button {
	background-color: #fff;
	border-color: #7e8993;
	color: #32373c;
	display: flex;
	align-items: center;
	min-height: 30px;
}

.wpl-dropdownbutton__single h5 {
	text-align: center;
	margin-right: 0;
}

.wpl-dropdownbutton__check {
	width: 16px;
	display: inline-block;
}

.wpl-dropdownbutton .wpl-dropdownbutton__button_enabled {
	svg {
		transform: rotate(180deg);
		border-right: 1px solid #ddd;
		border-left: 1px solid transparent;
		padding-right: 5px;
		padding-left: 0;
	}
}
