.redirection-useragent {
	box-sizing: border-box;

	th {
		width: 120px;
		vertical-align: top;
		line-height: 1;
		text-align: left;
		padding-left: 10px;
	}

	td {
		line-height: 1.2;
	}

	td,
	h2 {
		text-align: left;
	}

	h2 {
		margin-bottom: 0;
		padding-left: 12px;
		padding-bottom: 5px;
	}

	.redirection-useragent_agent {
		font-size: 12px;
	}

	.redirection-useragent_unknown,
	.redirection-useragent_unknown h2 {
		text-align: center;
		padding: 5px;
	}

	table {
		padding-bottom: 15px;
		padding-top: 10px;
	}
}
