@import '../style.scss';

.wpl-multioption .wpl-popover__content {
	padding: 10px 10px;
	white-space: nowrap;
	box-sizing: border-box;
	z-index: $popover_zindex;

	h4 {
		margin-top: 5px;
	}

	h5 {
		margin-top: 3px;
		margin-bottom: 6px;
		text-transform: uppercase;
		color: #999;
	}

	p {
		margin: 2px 0 0.8em !important;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}

	label {
		display: inline-block;
		width: 100%;
	}
}

.button.wpl-multioption__button,
.wpl-multioption__button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: none;

	height: 30px;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #fff;
	border-color: #7e8993;
	color: #32373c;

	svg {
		margin-left: 5px;
		margin-right: -4px;
		display: inline-block;
		fill: #888;
		border-left: 1px solid #ddd;
		padding-left: 5px;
	}

	h5 {
		padding: 0;
		margin: 0;
		margin-right: 10px;
		font-size: 13px;
		font-weight: normal;
	}
}

.wpl-multioption__group {
	&:first-child {
		padding-top: 7px;
	}

	h5 {
		margin: 0;
	}

	input[type="checkbox"] {
		margin-right: 7px;
	}
}

.actions .button.wpl-multioption__button {
	height: 28px;
}

.wpl-multioption__button.wpl-multioption__button_enabled {
	background-color: #fff;

	svg {
		transform: rotate(180deg);
		border-right: 1px solid #ddd;
		border-left: 1px solid transparent;
		padding-right: 4px;
		padding-left: 0;
	}
}

.wpl-multioption__group {
	margin-bottom: 20px;
}

.wpl-multioption__group:last-child {
	margin-bottom: 10px;
}

/* Smoothes over the differences between 5.3 and earlier */
.branch-4-9,
.branch-5-0,
.branch-5-1,
.branch-5-2 {
	.wpl-dropdownbutton .button,
	.button.wpl-multioption__button {
		border-color: #ddd;
	}

	input[type="search"] {
		height: 30px;
	}

	.wpl-multioption__button .wpl-badge,
	.wpl-multioption,
	.actions .wpl-multioption__button .wpl-badge {
		margin-top: 1px !important;
	}
}

.actions .wpl-popover__content {
	margin-top: -1px;
}

.wpl-multioption {
	padding: 0 10px;

	p {
		white-space: nowrap
	}
}
