@import "../../global";

.redirection-httpcheck_results {
	display: flex;
	padding-bottom: 40px;

	.redirection-httpcheck_info {
		text-align: left;
	}
}

.redirection-httpcheck {
	padding: 15px;

	table {
		width: 100%;
	}

	.redirection-httpcheck_status {
		width: 80px;

		.dashicons {
			font-size: 70px;
			width: 70px;
			height: 70px;
		}

		.dashicons-yes {
			color: $ok;
		}

		.dashicons-no {
			color: $error;
		}

		.dashicons-warning {
			color: orange;
		}
	}

	h2 {
		margin-bottom: 20px;
		padding-bottom: 5px;
		text-align: left;
		font-size: 1.4em;
		margin-top: 10px;
	}

	h3 {
		margin-top: 25px;
	}

	.wpl-modal_error {
		padding-left: 10px;
	}
}

.redirection-httpstep__details {
	p {
		margin-top: 5px;
		margin-bottom: 5px;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.redirection-httpstep {
	display: flex;

	.redirection-httpstep__status {
		height: fit-content;
		border-radius: 0.375rem;
		padding: 0.125rem 0.625rem;
		margin-right: 10px;
	}

	.redirection-httpstep__status a {
		color: white;
		font-weight: 500;
		text-decoration: none;
	}

	.redirection-httpstep__200 {
		background-color: $green;
	}

	.redirection-httpstep__300 {
		background-color: rgb(96,165,250);
	}

	.redirection-httpstep__400 {
		background-color: $yellow;
		color: black;
	}

	.redirection-httpstep__500 {
		background-color: $error;
	}

	button {
		margin-top: 10px;
		margin-bottom: -5px;
	}
}

.redirection-httpcheck {
	padding-bottom: 10px;

	svg {
		margin-left: 10px;
		width: 20px;
		height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}