.wpl-table {
	/* Links on options page */
	th a {
		color: #444;
	}

	td ul {
		padding-left: 20px;
		list-style-type: disc;
		margin: 0;
		margin-top: 15px;
	}

	td li {
		margin-bottom: 0;
		line-height: 1.6;
	}
}
