.redirection .wp-list-table {
	table-layout: fixed;

	tbody {
		> th:not(.check-column) {
			vertical-align: top;
			padding: 5px;
		}
	}

	.column-last_count {
		width: 80px;
		text-align: left;
	}

	.column-date {
		width: 150px;
	}

	.column-last_access {
		width: 150px;
		text-align: left;
	}

	.column-module,
	.column-total,
	.column-ip {
		width: 110px;
	}

	.column-method,
	.column-redirects {
		width: 100px;
		text-align: left;
	}

	.column-position {
		width: 65px;
		text-align: left;
	}

	.column-code {
		width: 110px;
		text-align: left;
	}

	.column-status {
		width: 50px;
	}

	.column-group {
		// width: 150px;
	}

	.column-action_type,
	.column-match_type {
		// width: 105px;
	}

	.check-column-red {
		vertical-align: middle;
		padding: 4px 0 0 3px !important;
		width: 2.2em;
		margin: 0;
	}

	strike {
		opacity: 0.7;
	}
}

.edit-groups {
	width: 100%;

	th {
		line-height: 1.2;
		vertical-align: top;
		padding: 2px;
		padding-top: 5px !important;
		padding-left: 0;
		font-size: 13px;
		font-weight: bold;
	}

	td {
		padding: 2px;
	}

	input[type=text] {
		width: 100%;
	}
}


/**
 * The buttons at the bottom of a table to perform an action - delete logs etc
 */
.table-buttons {
	float: left;
	padding-top: 2px;

	> button, > form, > div.table-button-item {
		margin-right: 5px !important;
		display: inline;
	}

	.redirection-modal_wrapper {
		display: inline;
	}
}

/**
 * Mobile version of table
 */
@media screen and (max-width: 782px) {
	input[type="checkbox"] {
		height: 20px;
		width: 20px;
	}

	.wp-list-table {
		td.column-primary {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.redirection .wp-list-table {
		td,
		input,
		select,
		th {
			font-size: 1em !important;
		}

		td.column-code,
		th.column-code,
		td.column-url .target,
		td.column-date,
		th.column-date,
		td.column-referrer {
			display: none !important;
		}
	}

	table.redirect-edit {
		padding-right: 0;

		th {
			display: block;
			font-weight: bold;
			padding-left: 0 !important;
		}

		tbody tr td {
			flex-wrap: wrap;

			> * {
				flex: 1 0 auto;
			}
		}

		input[type="text"],
		select,
		input[type="number"] {
			width: 100%;
		}

		select,
		input[type="number"] {
			height: 30px !important;
		}
	}

	table.edit-groups {
		select,
		input[type="number"] {
			height: 30px !important;
		}
	}
}

.redirect-table-display__filter {
	button {
		min-width: 200px;
	}

	.redirect-popover__content {
		min-width: 180px;
	}
}

.redirect-table-display {
	display: flex;
	justify-content: flex-end;

	> div {
		margin-right: 5px;
	}

	input[name="s"] {
		margin-right: 5px;
		margin-top: 0;
	}
}

.redirect-table-filter__select {
	min-width: 200px;
	display: inline-block;
	margin-right: 5px;

	.redirect-table-filter__select__control {
		max-height: 27px;
		min-height: 27px;
		height: 27px;
		border-color: #ddd;
		border-radius: 0;
		margin-top: 1px;
	}
}

.tablenav .actions {
	overflow: visible;
}

.redirect-table__actions .actions {
	.button {
		height: 28px;
	}
}

.redirect-searchbox {
	.redirect-popover__toggle button {
		margin-top: 1px;
	}
}
