.redirect-multioption .redirect-popover__content {
	padding: 10px 10px;
	white-space: nowrap;
	box-sizing: border-box;

	h4 {
		margin-top: 5px;
	}

	h5 {
		margin-top: 3px;
		margin-bottom: 3px;
		text-transform: uppercase;
		color: #999;
	}

	p {
		margin: 2px 0 0.8em !important;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0 !important;
	}

	label {
		display: inline-block;
		width: 100%;
	}
}

.button.redirect-multioption__button,
.redirect-multioption__button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 27px;
	margin-top: 1px;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	svg {
		margin-left: 5px;
		margin-right: -4px;
		display: inline-block;
		fill: #888;
		border-left: 1px solid #ddd;
		padding-left: 5px;
	}

	h5 {
		padding: 0;
		margin: 0;
		margin-right: 10px;
		font-size: 12px;
		font-weight: normal;
	}

	.redirect-badge {
		line-height: 1.3;
		margin-top: 1px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.actions .redirect-multioption__button .redirect-badge {
	margin-top: -1px;
}

.redirect-multioption__button.redirect-multioption__button_enabled {
	svg {
		transform: rotate(180deg);
		border-right: 1px solid #ddd;
		border-left: 1px solid transparent;
		padding-right: 5px;
		padding-left: 0;
	}
}

.redirect-multioption__group {
	margin-bottom: 20px;
}

.redirect-multioption__group:last-child {
	margin-bottom: 10px;
}
