@import "node_modules/@wordpress/base-styles/colors";

/**
 * Inline loading styles
 */

@keyframes wpl-loading-fade {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.wpl-placeholder__container {
	width: 100%;
	height: 100px;
	position: relative;
}

.wpl-placeholder__loading {
	content: "";
	position: absolute;
	top: 16px;
	right: 8px;
	bottom: 16px;
	left: 8px;
	padding-left: 8px;
	padding-top: 8px;
	background-color: $light-gray-800;
	animation: wpl-loading-fade 1.6s ease-in-out infinite;
}

.placeholder-inline {
	width: 100%;
	height: 50px;
	position: relative;

	.wpl-placeholder__loading {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}

.loading-small {
	width: 25px;
	height: 25px;
}

input.current-page {
	width: 60px;
}

.loader-wrapper {
	position: relative;
}

.loader-textarea {
	height: 100px;
}

/**
 * Loading for tables
 */

.wp-list-table {
	.is-placeholder {
		td {
			position: relative;
			height: 50px;
		}
	}

	.item-loading {
		opacity: 0.3;
	}
}
