@import "node_modules/@wordpress/base-styles/colors";

.wpl-spinner__container {
	display: inline-block;
	position: relative;
}

.wpl-spinner__item {
	position: absolute;
	left: 10px;
	top: -25px;
	display: block;
	width: 40px;
	height: 40px;
	background-color: $dark-gray-700;

	border-radius: 100%;
	-webkit-animation: wpl-scaleout 1s infinite ease-in-out;
	animation: wpl-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes wpl-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes wpl-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

.spinner-small {
	.wpl-spinner__item {
		width: 20px;
		height: 20px;
		top: -15px;
		left: 5px;
	}
}
