
/**
 * An inline 'notice' message
 */

.inline-notice {
	background: #fff;
	border-left: 4px solid #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin: 5px 15px 2px;
	padding: 5px 12px;
	margin: 5px 0 15px;
	border-left-color: #ffb900;

	&.inline-general {
		border-left-color: #46b450;
	}
}

.inline-error {
	border-color: red;
}
