@import "../../global";

.redirection-database_error {
	text-align: left;
	box-shadow: none;
	margin-top: 1em;

	ul {
		list-style-type: disc;
	}

	li {
		margin-left: 20px;
	}
}

.redirection-database {
	.redirection-database_spinner {
		margin: 0 auto;
		width: 100px;
	}

	.redirection-database {
		clear: both;
		padding-top: 20px;
	}

	.rc-progress-line {
		clear: both;
		display: block;
		margin-bottom: 20px;
	}

	textarea {
		width: 100%;
	}
}

.redirection-database_wrapper {
	h1,
	> p {
		text-align: center;
	}

	.redirection-database_progress {
		background-color: $white;
		text-align: center;
		width: 75%;
		margin: 0 auto;
		margin-top: 30px;
		padding: 20px;
		border: 1px solid $gray-light;
		border-radius: 3px;
		box-shadow: 3px 3px 3px $gray-light;
	}
}
