@import 'node_modules/@wordpress/base-styles/colors';

.wpl-badge {
	display: inline-flex;
	align-items: center;
	line-height: 1.4;
	font-size: 12px;
	background-color: $light-gray-600;
	border-radius: 3px;
	font-variant: small-caps;
	white-space: nowrap;
	color: $black;
	padding: 3px 4px;

	&.wpl-badge__click {
		cursor: pointer;
		border: 1px solid transparent;

		&:hover {
			color: $white;
			background-color: $dark-gray-200;
		}
	}

	.wpl-badge__close {
		background-color: transparent;
		border: none;
		width: 15px;
		text-align: center;
		font-size: 20px;
		height: 100%;
		line-height: 1;
		vertical-align: middle;
		margin-top: -6px;
		margin-left: 2px;

		&:hover {
			color: white;
		}
	}

	&.wpl-badge__small .wpl-badge__content {
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.wpl-badge:not( :last-child ) {
	margin-right: 5px;
}
