.redirect-popover__container {
	position: relative;
	display: inline-block;
}

.redirect-popover {
	position: absolute;
	z-index: 10000;
	width: 100%;
}

.redirect-popover__content {
	box-shadow: 0 3px 30px rgba(#333, 0.1);
	border: 1px solid #ddd;
	background: white;

	position: absolute;
	height: auto;
	overflow-y: auto;
	min-width: 100px;
	max-height: 400px;
}

.redirect-popover__toggle {
	display: inline;
}
