.redirect-popover__container {
	position: relative;
	display: inline-block;
	flex: none !important;
}

.redirect-popover {
	position: absolute;
	z-index: 10001;
	width: 100%;

	&.redirect-popover__right .redirect-popover__content {
		right: 0;
	}
}

.redirect-popover__content {
	box-shadow: 0 3px 30px rgba(#333, 0.1);
	border: 1px solid #ddd;
	background: white;

	position: absolute;
	height: auto;
	overflow-y: auto;
	min-width: 150px;
	max-height: 400px;
}

.redirect-popover__toggle {
	display: inline;
}
