@import "../../global";

.edit-redirection {
	width: 100%;
	padding-right: 15px;

	p {
		margin: 5px;
	}

	th {
		width: 130px;
		font-weight: bold;
		text-align: left;
	}

	th.top {
		vertical-align: top;
	}

	tbody tr td {
		display: flex;
		padding: 0;

		> *,
		.redirection-url-autocomplete input {
			flex: 1 1 auto;
			justify-content: flex-start;
			margin-right: 5px;
			text-align: left;
		}

		> select {
			flex: 0 0 auto;
		}

		.edit-redirection-position input {
			width: 60px;
		}

		.small-flex {
			flex-grow: 0;
			padding-top: 5px;
		}
	}

	tbody td.edit-left > * {
		flex: none;
	}

	textarea {
		width: 100%;
		height: 100px;
	}

	.edit-redirection_warning {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: left;
		overflow-wrap: break-word;
		width: 100%;

		span {
			margin-right: 4px;
		}

		p {
			color: #444;
			margin: auto;
		}

		a {
			color: #444;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		p {
			margin: 0;
		}
	}

	.redirect-multioption__button {
		min-width: 200px;
		margin-top: 1px;
	}

	.redirect-multioption__button .redirect-badge {
		background-color: #ffb900;
	}
}

.redirection-modal_content .edit-redirection_warning {
	margin-left: 0;
	box-shadow: none;
}

.redirection-url-autocomplete {
	display: flex;
	position: relative;

	svg {
		width: 28px;
		height: 28px;
		opacity: 0.7;
	}

	.redirection-url-autocomplete__loading {
		position: absolute;
		right: 7px;
		top: 2px;
	}

	.redirection-url-autocomplete__options {
		position: absolute;
		top: 30px;
		left: 1px;
		width: 400px;
		height: 150px;
		background-color: white;
		padding: 3px;
		overflow-y: auto;
		border: 1px solid #ddd;
		box-shadow: 0 0 2px #ddd;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul li {
		margin: 0;
	}

	a {
		display: flex;
		justify-content: space-between;
		padding: 2px 3px;
		text-decoration: none;
		color: #333;
		align-items: center;
	}

	a:hover {
		background-color: #deebff;
	}
}


.widefat td.column-url p {
	margin: 0;
}

.column-url:not(.redirect-edit) {
	min-width: 200px;
	overflow: auto;
}

.redirect-column-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.redirect-status {
	border-radius: 10px;
	padding: 2px 5px;
	min-width: 15px;
	font-weight: bold;
	display: inline;
	font-size: 16px;
}

.redirect-status__enabled {
	color: $ok;
}

.redirect-status__disabled {
	color: $red;
	font-size: 18px;
	padding: 0 6px 3px 6px;
}

.redirect-badge.redirect-source__flag_regex {
	background-color: #ffb900;
	color: black;
}

.redirect-source__flags {
	.redirect-badge {
		margin-bottom: 2px;
	}
}

.edit-redirection-regex {
	display: flex;
	align-items: center;

	input[type="checkbox"] {
		margin: 0;
	}
}
