@import "../../global";

.edit-redirection {
	width: 100%;
	padding-right: 15px;

	th {
		width: 130px;
		font-weight: bold;
		text-align: left;
	}

	th.top {
		vertical-align: top;
	}

	tbody tr td {
		display: flex;
		padding: 0;

		> * {
			flex: 1 1 auto;
			justify-content: flex-start;
			margin-right: 5px;
			text-align: left;
		}

		> select {
			flex: 0 0 auto;
		}

		.edit-redirection-position input {
			width: 60px;
		}

		.small-flex {
			flex-grow: 0;
			padding-top: 5px;
		}
	}

	tbody td.edit-left > * {
		flex: none;
	}

	textarea {
		width: 100%;
		height: 100px;
	}

	.edit-redirection_warning {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: left;
		overflow-wrap: break-word;
		width: 100%;

		span {
			margin-right: 4px;
		}

		p {
			color: #444;
			margin: auto;
		}

		a {
			color: #444;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

.redirection-modal_content .edit-redirection_warning {
	margin-left: 0;
	box-shadow: none;
}

.redirects input[type="text"] {
	padding: 4px;
}

.edit-redirection .redirection-edit_flags {
	flex: none;
	min-width: 200px;

	.redirection-edit_flags__control {
		max-height: 32px;
		min-height: 32px;
		height: 32px;
		border-color: #ddd;
		border-radius: 0;
	}

	.redirection-edit_flags__multi-value__label {
		padding: 2px 5px;
	}
}
