@import "../../global";

.wpl-error {
	background: #fff;
	border-left: 4px solid #fff;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 15px 2px;
	padding: 1px 12px;
	border-left-color: #dc3232;
	margin: 5px 0 15px;
	margin-top: 2em;

	.closer {
		float: right;
		padding-top: 5px;
		font-size: 18px;
		cursor: pointer;
		color: #333;
	}

	textarea {
		font-family: $monospace;
		font-size: 12px;
		background-color: #eee;
		width: 100%;
	}

	span code {
		background-color: transparent;
	}

	h3 {
		font-size: 1.2em;
	}

	ul {
		list-style-type: disc;

		li {
			margin-left: 20px;
			padding: 0;
		}
	}
}

.wpl-error__mini {
	h2 {
		font-size: 16px;
		font-weight: normal;
	}

	h3 {
		font-weight: normal;
		font-size: 14px;
	}
}

.wpl-error__highlight {
	background-color: #f7d85d;
	padding: 3px 6px;
	display: inline-block;
	margin: 0;
}
