/* Colours */
$white: #fff;
$black: #000;
$blue-light: #78dcfa;
$blue-medium: #14acdd;

$gray-blue-dark: #2e4453;
$gray-dark: #2e4453;
$gray: #888;
$gray-light: #ddd;
$gray-lightest: #eee;

$yellow: #f0b849;
$red: #d94f4f;
$green: #4ab866;
$orange: #ffa500;
$black: #000;

$error: #ff3860;
$ok: $green;

/* Fonts */
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$monospace: courier, Monaco, monospace;
