@import "../../global";

body.redirection-modal_shown {
	overflow: hidden;
}

.redirection-modal_wrapper {
	width: 100%;
}

/**
 * Modal background
 */
.redirection-modal_backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: rgba(255, 255, 255, 0.4);
}

/**
 * The base modal dialog
 */
.redirection-modal_main {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20000;

	align-items: center;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;

	.redirect-click-outside {
		min-height: 100px;
		max-width: 90%;
		max-height: 90%;
		min-width: 60%;
		position: absolute;
	}

	.redirection-modal_content {
		position: relative;
		background: $white;
		opacity: 1;

		border: 1px solid #e2e4e7;
		box-shadow: 0 3px 30px rgba(25, 30, 35, 0.2);

		transition: height 0.05s ease;

		min-height: 100px;
		max-width: 90%;
		max-height: 90%;
		min-width: 60%;
		margin: 0 auto;

		h1 {
			margin: 0 !important;
			color: #333 !important;
		}
	}

	.redirection-modal_close button {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 10px;
		padding-right: 10px;
		border: none;
		background-color: $white;
		border-radius: 2px;
		cursor: pointer;
		z-index: 10001;
	}
}

.redirection-modal_wrapper.redirection-modal_wrapper-padless {
	.redirection-modal_content {
		padding: 20px;
	}
}

.redirection-modal_wrapper-padding .redirection-modal_content {
	padding: 15px;
}

/**
 * If an error occurred while loading the modal content
 */
.redirection-modal_error {
	h2 {
		text-align: center;
	}
}

/**
 * Centres the CSS spinner
 */
.redirection-modal_loading {
	display: flex;
	height: 100px;

	> * {
		justify-content: center;
		align-self: center;
		margin-left: calc(50% - 30px);
		margin-top: 40px;
	}
}

@media screen and (max-width: 782px) {
	.redirection-modal_main {
		.redirection-modal_content {
			width: 80%;
			margin-right: 10%;
		}
	}
}
