@import "../../global";

body.redirection-modal_shown {
	overflow: hidden;
}

.redirection-modal_wrapper {
	width: 100%;
}

/**
 * Modal background
 */
.redirection-modal_backdrop {
	background-color: #999;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

/**
 * The base modal dialog
 */
.redirection-modal_main {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	text-align: center;

	.redirection-modal_close button {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 5px;
		padding-right: 5px;
		border: none;
		background-color: $white;
		border-radius: 2px;
		cursor: pointer;
		z-index: 10001;
	}

	.redirection-modal_content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10000;
		margin: auto;
		border-radius: 2px;
		background: $white;
		opacity: 1;

		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	}

	.redirection-modal_content {
		width: 60%;
		height: 100px;
		margin-right: 15%;
		max-width: 90%;
		max-height: 90%;

		h1 {
			margin: 0 !important;
			color: #333 !important;
		}
	}
}

.redirection-modal_wrapper.redirection-modal_wrapper-padless {
	.redirection-modal_content {
		padding: 20px;
	}
}

.redirection-modal_wrapper-padding .redirection-modal_content {
	padding: 10px;
}

/**
 * If an error occurred while loading the modal content
 */
.redirection-modal_error {
	h2 {
		text-align: center;
	}
}

/**
 * Centres the CSS spinner
 */
.redirection-modal_loading {
	display: flex;
	height: 100px;

	> * {
		justify-content: center;
		align-self: center;
		margin-left: calc(50% - 30px);
		margin-top: 40px;
	}
}

@media screen and (max-width: 782px) {
	.redirection-modal_main {
		.redirection-modal_content {
			width: 80%;
			margin-right: 10%;
		}
	}
}
