.http-tester {
	table {
		width: 95%;

		th,
		td {
			vertical-align: top;
			padding: 5px 5px;
			overflow: hidden;
		}

		td {
			max-width: 500px;
		}

		th {
			text-align: right;
			padding-right: 10px;
			width: 150px;
		}

		p {
			padding-top: 0;
			margin-top: 0;
		}

		code {
			background-color: transparent;
			font-size: 12px;
			padding: 0;
		}
	}

	ul {
		list-style-type: disc;
		margin-left: 20px;

		li span {
			margin: -20px;
		}

		ul {
			list-style-type: disc;
			margin-left: 20px;
		}
	}
}

.redirection-httptest {
	background-color: white;
	border: 1px solid #999;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;

	h2 {
		margin-top: 10px;
	}
}

.redirection-httptest__input {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	input[type="text"] {
		width: 100%;
	}
}